In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re as re
import nltk as nl
from nltk import word_tokenize, pos_tag, bigrams
from nltk.parse.api import ParserI

sns.set
pd.options.display.max_colwidth = 200

In [2]:
data_raw = pd.read_csv('C:\\Users\\DELL\\Desktop\\Akshay\\Datasets\\factoid_questions_classification\\factoid_questions_dataset.txt', sep='delimiter', header=None, names=['Factoids'], dtype={'Factoids':str})

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
data_raw

                                                                                                Factoids
0                                         DESC:manner How did serfdom develop in and then leave Russia ?
1                                           ENTY:cremat What films featured the character Popeye Doyle ?
2                                        DESC:manner How can I find a list of celebrities ' real names ?
3                       ENTY:animal What fowl grabs the spotlight after the Chinese Year of the Monkey ?
4                                                               ABBR:exp What is the full form of .com ?
..                                                                                                   ...
995                                    DESC:manner How do you look up criminal records on the Internet ?
996                                            LOC:other Where is the actress , Marion Davies , buried ?
997                   DESC:desc What is an example of an actual case of using the Fourteenth Amendment ?
998                                                          HUM:ind Who was the Charlie perfume woman ?
999  HUM:ind Who portrayed `` Rosanne Rosanna-Dana '' on the television show `` Saturday Night Live '' ?

[1000 rows x 1 columns]

In [4]:
data_raw['Factoids'] = data_raw.Factoids.str.replace(':', ' ')
data_raw['Class'] = data_raw.Factoids.str.split('\s+').str[0]
data_raw['Sub-Class'] = data_raw.Factoids.str.split('\s+').str[1]
data_raw['Questions'] = data_raw.Factoids.str.split().str[2:].str.join(' ')
data_raw.drop('Factoids', axis=1)

,Class,Sub-Class,Questions
0,DESC,manner,How did serfdom develop in and then leave Russia ?
1,ENTY,cremat,What films featured the character Popeye Doyle ?
2,DESC,manner,How can I find a list of celebrities ' real names ?
3,ENTY,animal,What fowl grabs the spotlight after the Chinese Year of the Monkey ?
4,ABBR,exp,What is the full form of .com ?
...,...,...,...
995,DESC,manner,How do you look up criminal records on the Internet ?
996,LOC,other,"Where is the actress , Marion Davies , buried ?"
997,DESC,desc,What is an example of an actual case of using the Fourteenth Amendment ?
998,HUM,ind,Who was the Charlie perfume woman ?
999,HUM,ind,Who portrayed `` Rosanne Rosanna-Dana '' on the television show `` Saturday Night Live '' ?

In [5]:
max_len = 37

text = "How far is it from Denver to Aspen?"

tok_text = word_tokenize(text)
print(f"Tokens: {tok_text}")

postag_text = pos_tag(tok_text)
print(f"Pos Tags: {list(postag_text)}")

t = tok_text+["<PAD>"]*(37-len(tok_text)) if len(tok_text) < 37 else tok_text
print(f"Padded Text: {t}")

Tokens: ['How', 'far', 'is', 'it', 'from', 'Denver', 'to', 'Aspen', '?']
Pos Tags: [('How', 'WRB'), ('far', 'RB'), ('is', 'VBZ'), ('it', 'PRP'), ('from', 'IN'), ('Denver', 'NNP'), ('to', 'TO'), ('Aspen', 'VB'), ('?', '.')]
Padded Text: ['How', 'far', 'is', 'it', 'from', 'Denver', 'to', 'Aspen', '?', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>']

In [6]:
toks = [word_tokenize(question) for question in data_raw.Questions]

In [7]:
postagged = [pos_tag(tok) for tok in toks]

pos_tags = []

for i in range(len(postagged)):
    postagged[i]
    tags = []
    for j in range(len(postagged[i])):
        tags.append(postagged[i][j][1])
    pos_tags.append(tags)

def list_to_array_pos_tag(pos_tag):
    pos_tags = pos_tag+["<PAD>"]*(37-len(pos_tag)) if len(pos_tag) < 37 else pos_tag
    return np.array([
        '-' if pos_tag == "<PAD>" else pos_tag
        for pos_tag in pos_tags
    ])

In [8]:
features = np.array([list_to_array_pos_tag(pos_tag) for pos_tag in pos_tags])
features

array([['WRB', 'VBD', 'VB', ..., '-', '-', '-'],
       ['WP', 'VBD', 'VBD', ..., '-', '-', '-'],
       ['WRB', 'MD', 'PRP', ..., '-', '-', '-'],
       ...,
       ['WP', 'VBZ', 'DT', ..., '-', '-', '-'],
       ['WP', 'VBD', 'DT', ..., '-', '-', '-'],
       ['WP', 'VBD', '``', ..., '-', '-', '-']], dtype='<U4')

In [10]:
a = pd.DataFrame(features)
a

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,WRB,VBD,VB,VB,IN,CC,RB,VB,NNP,.,...,-,-,-,-,-,-,-,-,-,-
1,WP,VBD,VBD,DT,NN,NNP,NNP,.,-,-,...,-,-,-,-,-,-,-,-,-,-
2,WRB,MD,PRP,VB,DT,NN,IN,NNS,POS,JJ,...,-,-,-,-,-,-,-,-,-,-
3,WP,NN,VBD,DT,NN,IN,DT,JJ,NN,IN,...,-,-,-,-,-,-,-,-,-,-
4,WP,VBZ,DT,JJ,NN,IN,NN,.,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,WRB,VB,PRP,VB,RP,JJ,NNS,IN,DT,NNP,...,-,-,-,-,-,-,-,-,-,-
996,WRB,VBZ,DT,NN,",",NNP,NNP,",",VBN,.,...,-,-,-,-,-,-,-,-,-,-
997,WP,VBZ,DT,NN,IN,DT,JJ,NN,IN,VBG,...,-,-,-,-,-,-,-,-,-,-
998,WP,VBD,DT,NNP,NN,NN,.,-,-,-,...,-,-,-,-,-,-,-,-,-,-
999,WP,VBD,``,NNP,NNP,``,IN,DT,NN,NN,...,-,-,-,-,-,-,-,-,-,-

In [100]:
features = []
for i in range(len(questions)):
    postagged[i]
    
    question_features = np.array(())
    question_count = []
    token_count = []
    tokens = []
    postags = []
    
    for j in range(len(postagged[i])):
        question_count.append(i)
        token_count.append(j)
        tokens.append(postagged[i][j][0])
        postags.append(postagged[i][j][1])
    
    a = np.array(question_count)
    b = np.array(token_count)
    c = np.array(tokens)
    d = np.array(postags)
    
    question_features = np.column_stack((a,b,c,d))
    features.append(question_features)

features = np.array(features)

NameError: name 'questions' is not defined