In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re as re
import nltk as nl
from nltk import word_tokenize, pos_tag, bigrams
from nltk.parse.api import ParserI
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

sns.set
pd.options.display.max_colwidth = 200

In [2]:
data_raw = pd.read_csv('C:\\Users\\DELL\\Desktop\\Akshay\\Datasets\\factoid_questions_classification\\factoid_questions_dataset.txt', sep='delimiter', header=None, names=['Factoids'], dtype={'Factoids':str})

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
data_raw

                                                                                                Factoids
0                                         DESC:manner How did serfdom develop in and then leave Russia ?
1                                           ENTY:cremat What films featured the character Popeye Doyle ?
2                                        DESC:manner How can I find a list of celebrities ' real names ?
3                       ENTY:animal What fowl grabs the spotlight after the Chinese Year of the Monkey ?
4                                                               ABBR:exp What is the full form of .com ?
..                                                                                                   ...
995                                    DESC:manner How do you look up criminal records on the Internet ?
996                                            LOC:other Where is the actress , Marion Davies , buried ?
997                   DESC:desc What is an example of an actual case of using the Fourteenth Amendment ?
998                                                          HUM:ind Who was the Charlie perfume woman ?
999  HUM:ind Who portrayed `` Rosanne Rosanna-Dana '' on the television show `` Saturday Night Live '' ?

[1000 rows x 1 columns]

In [4]:
data_raw['Factoids'] = data_raw.Factoids.str.replace(':', ' ')
data_raw['Class'] = data_raw.Factoids.str.split('\s+').str[0]
data_raw['Sub-Class'] = data_raw.Factoids.str.split('\s+').str[1]
data_raw['Questions'] = data_raw.Factoids.str.split().str[2:].str.join(' ')
data = data_raw.drop('Factoids', axis=1)
data

,Class,Sub-Class,Questions
0,DESC,manner,How did serfdom develop in and then leave Russia ?
1,ENTY,cremat,What films featured the character Popeye Doyle ?
2,DESC,manner,How can I find a list of celebrities ' real names ?
3,ENTY,animal,What fowl grabs the spotlight after the Chinese Year of the Monkey ?
4,ABBR,exp,What is the full form of .com ?
...,...,...,...
995,DESC,manner,How do you look up criminal records on the Internet ?
996,LOC,other,"Where is the actress , Marion Davies , buried ?"
997,DESC,desc,What is an example of an actual case of using the Fourteenth Amendment ?
998,HUM,ind,Who was the Charlie perfume woman ?
999,HUM,ind,Who portrayed `` Rosanne Rosanna-Dana '' on the television show `` Saturday Night Live '' ?

In [5]:
max_len = 37

text = "How far is it from Denver to Aspen?"

tok_text = word_tokenize(text)
print(f"Tokens: {tok_text}")

postag_text = pos_tag(tok_text)
print(f"Pos Tags: {list(postag_text)}")

t = tok_text+["<PAD>"]*(37-len(tok_text)) if len(tok_text) < 37 else tok_text
print(f"Padded Text: {t}")

Tokens: ['How', 'far', 'is', 'it', 'from', 'Denver', 'to', 'Aspen', '?']
Pos Tags: [('How', 'WRB'), ('far', 'RB'), ('is', 'VBZ'), ('it', 'PRP'), ('from', 'IN'), ('Denver', 'NNP'), ('to', 'TO'), ('Aspen', 'VB'), ('?', '.')]
Padded Text: ['How', 'far', 'is', 'it', 'from', 'Denver', 'to', 'Aspen', '?', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>', '<PAD>']

In [6]:
toks = [word_tokenize(question) for question in data_raw.Questions]

In [7]:
postagged = [pos_tag(tok) for tok in toks]

pos_tags = []

for i in range(len(postagged)):
    postagged[i]
    tags = []
    for j in range(len(postagged[i])):
        tags.append(postagged[i][j][1])
    pos_tags.append(tags)

def list_to_array_pos_tag(pos_tag):
    pos_tags = pos_tag+["<PAD>"]*(37-len(pos_tag)) if len(pos_tag) < 37 else pos_tag
    return np.array([
        '-' if pos_tag == "<PAD>" else pos_tag
        for pos_tag in pos_tags
    ])

In [8]:
features = np.array([list_to_array_pos_tag(pos_tag) for pos_tag in pos_tags])
features

array([['WRB', 'VBD', 'VB', ..., '-', '-', '-'],
       ['WP', 'VBD', 'VBD', ..., '-', '-', '-'],
       ['WRB', 'MD', 'PRP', ..., '-', '-', '-'],
       ...,
       ['WP', 'VBZ', 'DT', ..., '-', '-', '-'],
       ['WP', 'VBD', 'DT', ..., '-', '-', '-'],
       ['WP', 'VBD', '``', ..., '-', '-', '-']], dtype='<U4')

In [9]:
a = pd.DataFrame(features)
a

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,WRB,VBD,VB,VB,IN,CC,RB,VB,NNP,.,...,-,-,-,-,-,-,-,-,-,-
1,WP,VBD,VBD,DT,NN,NNP,NNP,.,-,-,...,-,-,-,-,-,-,-,-,-,-
2,WRB,MD,PRP,VB,DT,NN,IN,NNS,POS,JJ,...,-,-,-,-,-,-,-,-,-,-
3,WP,NN,VBD,DT,NN,IN,DT,JJ,NN,IN,...,-,-,-,-,-,-,-,-,-,-
4,WP,VBZ,DT,JJ,NN,IN,NN,.,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,WRB,VB,PRP,VB,RP,JJ,NNS,IN,DT,NNP,...,-,-,-,-,-,-,-,-,-,-
996,WRB,VBZ,DT,NN,",",NNP,NNP,",",VBN,.,...,-,-,-,-,-,-,-,-,-,-
997,WP,VBZ,DT,NN,IN,DT,JJ,NN,IN,VBG,...,-,-,-,-,-,-,-,-,-,-
998,WP,VBD,DT,NNP,NN,NN,.,-,-,-,...,-,-,-,-,-,-,-,-,-,-
999,WP,VBD,``,NNP,NNP,``,IN,DT,NN,NN,...,-,-,-,-,-,-,-,-,-,-

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(ngram_range=(1,1))
dtm = vect.fit_transform(data.Questions)

a= pd.DataFrame(dtm.toarray(), columns=vect.get_feature_names())
a

,000,10,103,11,118,12,126,134,14,142,...,you,young,youngest,your,yousuf,zealand,zenger,zodiacal,zones,zorro
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer(ngram_range=(1,1))
dtm = vect.fit_transform(features)

dtm

AttributeError: 'numpy.ndarray' object has no attribute 'lower'

In [19]:
a.columns.to_list()

['000',
 '10',
 '103',
 '11',
 '118',
 '12',
 '126',
 '134',
 '14',
 '142',
 '15',
 '158',
 '167',
 '16th',
 '177',
 '1797',
 '1832',
 '185',
 '1866',
 '1872',
 '187s',
 '1893',
 '1899',
 '19',
 '1920s',
 '1926',
 '1929',
 '193',
 '1932',
 '1939',
 '1941',
 '1942',
 '1948',
 '195',
 '1958',
 '1960',
 '1964',
 '1965',
 '1966',
 '1967',
 '1969',
 '197',
 '1972',
 '1973',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1989',
 '1990s',
 '1991',
 '1993',
 '1994',
 '1998',
 '1999',
 '19th',
 '21',
 '219',
 '22',
 '24',
 '26',
 '280',
 '401',
 '42',
 '468',
 '49',
 '54c',
 '55',
 '5th',
 '6th',
 '84',
 '85',
 '86ed',
 '98',
 'abbreviated',
 'abbreviation',
 'abominable',
 'about',
 'academy',
 'access',
 'accessory',
 'accidents',
 'accompanying',
 'according',
 'account',
 'acetylsalicylic',
 'acid',
 'acreage',
 'act',
 'acted',
 'actor',
 'actress',
 'actual',
 'ad',
 'adding',
 'address',
 'addresses',
 'admiral',
 'admit',
 'admonition',
 'ads',
 'adult',
 'advanced',
 'adventures',
 'advertise',
 'advertised',
 'advertizing',
 'affectionate',
 'afghanistan',
 'africa',
 'after',
 'against',
 'age',
 'aged',
 'agency',
 'ago',
 'ahead',
 'aids',
 'aim',
 'air',
 'airborne',
 'airport',
 'airports',
 'airwaves',
 'akita',
 'al',
 'album',
 'aldrin',
 'alive',
 'all',
 'allah',
 'alley',
 'alliance',
 'allowed',
 'almost',
 'alone',
 'also',
 'alternator',
 'alvin',
 'always',
 'alyssa',
 'am',
 'amendment',
 'america',
 'american',
 'americans',
 'americas',
 'amherst',
 'amish',
 'amphibians',
 'an',
 'analysis',
 'and',
 'andrew',
 'andrews',
 'angeles',
 'angels',
 'angles',
 'animal',
 'animals',
 'annotated',
 'announced',
 'anopheles',
 'another',
 'answers',
 'antarctica',
 'ante',
 'anthony',
 'antidisestablishmentarianism',
 'any',
 'anzus',
 'apollo',
 'apparel',
 'appeared',
 'apples',
 'applied',
 'approaches',
 'approaching',
 'apricot',
 'april',
 'arabian',
 'arch',
 'architecture',
 'archy',
 'arctic',
 'are',
 'area',
 'areas',
 'arkansas',
 'arma',
 'arms',
 'army',
 'arnold',
 'arometherapy',
 'around',
 'art',
 'articles',
 'artificial',
 'artist',
 'artists',
 'as',
 'asian',
 'ask',
 'assassinated',
 'assassination',
 'associated',
 'associates',
 'association',
 'astaire',
 'astronaut',
 'astronauts',
 'astronomical',
 'at',
 'atari',
 'athlete',
 'atlantic',
 'attack',
 'attacked',
 'attacks',
 'attempts',
 'attend',
 'attendant',
 'attic',
 'attractions',
 'attracts',
 'auberge',
 'august',
 'australia',
 'author',
 'auto',
 'autobiography',
 'autoimmune',
 'automobile',
 'average',
 'award',
 'awards',
 'away',
 'aykroyd',
 'babar',
 'baby',
 'bacall',
 'back',
 'background',
 'baggins',
 'baking',
 'balance',
 'ball',
 'ballcock',
 'ballots',
 'balls',
 'band',
 'bank',
 'banks',
 'banned',
 'bar',
 'barbados',
 'barbara',
 'barney',
 'barroom',
 'bars',
 'baseball',
 'based',
 'basophobic',
 'basque',
 'bastille',
 'battery',
 'battle',
 'bay',
 'bayer',
 'be',
 'beach',
 'beanie',
 'bear',
 'bears',
 'beat',
 'beatles',
 'beaver',
 'became',
 'because',
 'become',
 'bee',
 'been',
 'beer',
 'beers',
 'bees',
 'beethoven',
 'before',
 'began',
 'begin',
 'begins',
 'behind',
 'being',
 'belgium',
 'believe',
 'belong',
 'belt',
 'belushi',
 'ben',
 'bends',
 'benelux',
 'berlin',
 'bert',
 'besides',
 'best',
 'bet',
 'betsy',
 'betting',
 'betty',
 'between',
 'bible',
 'bibles',
 'bibliography',
 'bic',
 'bicornate',
 'big',
 'biggest',
 'bilbo',
 'bill',
 'billie',
 'billy',
 'bingo',
 'bird',
 'birds',
 'birth',
 'birthstone',
 'bite',
 'bjorn',
 'black',
 'blackhawk',
 'blacks',
 'bladerunner',
 'blasted',
 'bleach',
 'blind',
 'blobbo',
 'blood',
 'bloom',
 'blue',
 'blush',
 'board',
 'boards',
 'boardwalk',
 'boasts',
 'boat',
 'bob',
 'body',
 'bog',
 'bogs',
 'boheme',
 'bomb',
 'bombay',
 'bombing',
 'bond',
 'bone',
 'boob',
 'book',
 'books',
 'boop',
 'booth',
 'border',
 'borders',
 'borg',
 'boris',
 'born',
 'bottle',
 'bottles',
 'bottom',
 'bought',
 'bounty',
 'bow',
 'bowl',
 'bowling',
 'bowls',
 'box',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'bph',
 'bra',
 'brand',
 'brandenburg',
 'braun',
 'brazil',
 'breed',
 'breeding',
 'bricks',
 'bridge',
 'brigham',
 'brightest',
 'bring',
 'british',
 'broadcasting',
 'broadway',
 'broken',
 'brontosauruses',
 'bronze',
 'brooks',
 'brothers',
 'brought',
 'brown',
 'browns',
 'browser',
 'budweis',
 'buffalo',
 'bug',
 'build',
 'building',
 'built',
 'bulgaricus',
 'bull',
 'bulletin',
 'bulls',
 'bureau',
 'buried',
 'burned',
 'buses',
 'bush',
 'busiest',
 'business',
 'but',
 'butch',
 'buy',
 'buzz',
 'by',
 'cable',
 'caesar',
 'caffeinated',
 'caffeine',
 'cage',
 'cairo',
 'calcium',
 'calculator',
 'caldera',
 'california',
 'call',
 'called',
 'callosum',
 'calluses',
 'calories',
 'camaro',
 'came',
 'camp',
 'camps',
 'can',
 'canada',
 'canal',
 'cancer',
 'canfield',
 'capital',
 'captain',
 'car',
 'card',
 'cards',
 'care',
 'career',
 'caribbean',
 'carl',
 'carolina',
 'carrier',
 'cars',
 'cartoon',
 'cartoons',
 'cascade',
 'case',
 'cash',
 'casinos',
 'cassidey',
 'castle',
 'cat',
 'catherine',
 'catholic',
 'caused',
 'causes',
 'causing',
 'cbs',
 'cc',
 'cd',
 'cds',
 'celebrated',
 'celebrities',
 'cells',
 'cement',
 'cent',
 'center',
 'central',
 'cents',
 'century',
 'certified',
 'cervantes',
 'chairbound',
 'chairman',
 'chairs',
 'challengers',
 'champions',
 'championship',
 'chapel',
 'chapman',
 'chappellet',
 'chapter',
 'character',
 'characters',
 'characterstics',
 'charles',
 'charlie',
 'checkmate',
 'cheeks',
 'chemicals',
 'chesapeake',
 'chessboard',
 'chest',
 'chicago',
 'chicken',
 'chickens',
 'chicks',
 'chief',
 'chihuahuas',
 'child',
 'children',
 'chinese',
 'chivington',
 'chocolate',
 'chocolates',
 'chomper',
 'choose',
 'chops',
 'chris',
 'christian',
 'christopher',
 'chromosome',
 'chronic',
 'church',
 'churchill',
 'cigarette',
 'cincinnati',
 'cinderslut',
 'circle',
 'circumcision',
 'cities',
 'city',
 'claim',
 'claimed',
 'claims',
 'classic',
 'classical',
 'classified',
 'claus',
 'clean',
 'cleveland',
 'climb',
 'clip',
 'clitoris',
 'clock',
 'clockwise',
 'closed',
 'closest',
 'closing',
 'clothes',
 'clothing',
 'club',
 'cnn',
 'coach',
 'coal',
 'cocaine',
 'cockroaches',
 'cocktail',
 'cognac',
 'coin',
 'coined',
 'cold',
 'colin',
 'collabrative',
 'collect',
 'collection',
 'college',
 'colleges',
 'colonel',
 'colonies',
 'color',
 'colored',
 'colors',
 'colt',
 'columbus',
 'com',
 'comaneci',
 'combinations',
 'come',
 'comediennes',
 'comes',
 'comic',
 'comics',
 'command',
 'commercial',
 'commercially',
 'committee',
 'commodity',
 'common',
 'commonly',
 'commune',
 'community',
 'companion',
 'company',
 'compatible',
 'competitor',
 'complete',
 'composer',
 'comprised',
 'computer',
 'concentration',
 'concoct',
 'concorde',
 'condiment',
 'conditioning',
 'conditions',
 'condor',
 'coney',
 'confederate',
 'congress',
 'congressman',
 'connecticut',
 'conrad',
 'conscious',
 'consecutively',
 'considered',
 'consist',
 'constitution',
 'contact',
 'contains',
 'contemptible',
 'contents',
 'contest',
 'contestant',
 'contract',
 'convicted',
 'cook',
 'cooler',
 'cooper',
 'copier',
 'copies',
 'coppertop',
 'copyright',
 'cork',
 'coronado',
 'corporal',
 'corpus',
 'correct',
 'correctly',
 'correspondent',
 'cost',
 'costa',
 'costliest',
 'costner',
 'costs',
 'costumed',
 'could',
 'council',
 'counterclockwise',
 'countries',
 'country',
 'county',
 'course',
 'cover',
 'covrefeu',
 'cowboy',
 'cows',
 'craft',
 'cranberry',
 'create',
 'created',
 'creature',
 'creek',
 'creeps',
 'crew',
 'criminal',
 'criminologist',
 'crooner',
 'crop',
 'cross',
 'crossword',
 'crucifixion',
 'crusaders',
 'crust',
 'cry',
 'cuba',
 'cube',
 'cuckoo',
 'cucumber',
 'curies',
 'current',
 'cushman',
 'cyberspace',
 'cyclist',
 'daily',
 'dakota',
 'dame',
 'dan',
 'dana',
 'danced',
 'dane',
 'dangles',
 'danube',
 'danza',
 'dare',
 'data',
 'database',
 'date',
 'daughter',
 'daughters',
 'davies',
 'dawson',
 'day',
 'daycare',
 'dbf',
 'dc',
 'de',
 'dead',
 'deadliest',
 'deadwood',
 'deal',
 'dealing',
 'dealt',
 'death',
 'debate',
 'debut',
 'decade',
 'december',
 'deck',
 'declared',
 'deepest',
 'deer',
 'defects',
 'defensive',
 'define',
 'definition',
 'defunct',
 'degas',
 'degree',
 'degrees',
 'delaware',
 'delilah',
 'delivered',
 'democratic',
 'dena',
 'dennis',
 'dental',
 'dentist',
 'department',
 'depreciates',
 'depression',
 'derogatory',
 'desert',
 'design',
 'designate',
 'desmond',
 'detect',
 'detective',
 'determine',
 'determined',
 'develop',
 'developmental',
 'deveopment',
 'devices',
 'dew',
 'diagnose',
 'dialogue',
 'diameter',
 'diane',
 'diary',
 'dictator',
 'did',
 'die',
 'died',
 'diego',
 'difference',
 'different',
 'diminutive',
 'diplomacy',
 'direct',
 'directed',
 'directions',
 'director',
 'directorial',
 'disabilities',
 'disaster',
 'disc',
 'discover',
 'discovered',
 'disease',
 'diseases',
 'diskettes',
 'disposable',
 'distinct',
 'distributions',
 'division',
 'divorce',
 'dna',
 'do',
 'doctorate',
 'doctors',
 'does',
 'doesn',
 'dog',
 'dogs',
 'dogsledding',
 'dogtown',
 'doing',
 'dollar',
 'dolphins',
 'domestic',
 'domestica',
 'domesticated',
 'dominica',
 'dominoes',
 'don',
 'done',
 'doonesbury',
 'door',
 'dorsets',
 'dots',
 'double',
 'doughboys',
 'dow',
 'down',
 'downhill',
 'doxat',
 'doyle',
 'dr',
 'drake',
 'draw',
 'draws',
 'dreamed',
 'drill',
 'drills',
 'drink',
 'drive',
 'dropped',
 'dropping',
 'drops',
 'dry',
 'dt',
 'dubbed',
 'duck',
 'dudley',
 'duke',
 'dumbo',
 'dummy',
 'during',
 'dwarf',
 'dye',
 'each',
 'eagle',
 'early',
 'earn',
 'earned',
 'earns',
 'ears',
 'earth',
 'east',
 'easter',
 'eat',
 'economists',
 'edberg',
 'education',
 'edward',
 'edwin',
 'eenty',
 'efficient',
 'egg',
 'eiffel',
 'einstein',
 'either',
 'ejaculation',
 'el',
 'elect',
 'elected',
 'election',
 'electric',
 'electricity',
 'element',
 'elements',
 'elephant',
 'elicit',
 'elm',
 'email',
 'embassy',
 'embedded',
 'emil',
 'emperor',
 'empire',
 'employ',
 'employee',
 'enclose',
 'encyclopedia',
 'end',
 'enemy',
 'energy',
 'england',
 'english',
 'enlist',
 'enough',
 'entebbe',
 'enter',
 'entered',
 'enters',
 'enzymes',
 'equal',
 'equals',
 'equator',
 'equipment',
 'equity',
 'equivalent',
 'era',
 'erected',
 'eriksen',
 'eruption',
 'eskimo',
 'espionage',
 'estate',
 'eternity',
 'ethel',
 'ethology',
 'etta',
 'euchre',
 'eunice',
 'europe',
 'european',
 'evaporate',
 'event',
 'events',
 'ever',
 'everest',
 'evidence',
 'example',
 'excluded',
 'excuse',
 'executed',
 'execution',
 'exist',
 'expectant',
 'expensive',
 'explorer',
 'explorers',
 'export',
 'expression',
 'extant',
 'extended',
 'extension',
 'extinct',
 'eye',
 'eyes',
 'faber',
 'faced',
 'facial',
 'facility',
 'facts',
 'failure',
 'fairground',
 'faith',
 'falwell',
 'fame',
 'family',
 'famine',
 'famous',
 'fans',
 'far',
 'fare',
 'farri',
 'fast',
 'fastener',
 'faster',
 'fastest',
 'fat',
 'fatal',
 'fathom',
 'fats',
 'fear',
 'feature',
 'featured',
 'features',
 'feet',
 'fein',
 'felicity',
 'felt',
 'female',
 'fences',
 'fergie',
 'festival',
 'feynman',
 'fiction',
 'fictional',
 'field',
 'fifth',
 'fight',
 'file',
 'files',
 'film',
 ...]

In [10]:
data = data.join(a)
data

,Class,Sub-Class,Questions,0,1,2,3,4,5,6,...,27,28,29,30,31,32,33,34,35,36
0,DESC,manner,How did serfdom develop in and then leave Russia ?,WRB,VBD,VB,VB,IN,CC,RB,...,-,-,-,-,-,-,-,-,-,-
1,ENTY,cremat,What films featured the character Popeye Doyle ?,WP,VBD,VBD,DT,NN,NNP,NNP,...,-,-,-,-,-,-,-,-,-,-
2,DESC,manner,How can I find a list of celebrities ' real names ?,WRB,MD,PRP,VB,DT,NN,IN,...,-,-,-,-,-,-,-,-,-,-
3,ENTY,animal,What fowl grabs the spotlight after the Chinese Year of the Monkey ?,WP,NN,VBD,DT,NN,IN,DT,...,-,-,-,-,-,-,-,-,-,-
4,ABBR,exp,What is the full form of .com ?,WP,VBZ,DT,JJ,NN,IN,NN,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,DESC,manner,How do you look up criminal records on the Internet ?,WRB,VB,PRP,VB,RP,JJ,NNS,...,-,-,-,-,-,-,-,-,-,-
996,LOC,other,"Where is the actress , Marion Davies , buried ?",WRB,VBZ,DT,NN,",",NNP,NNP,...,-,-,-,-,-,-,-,-,-,-
997,DESC,desc,What is an example of an actual case of using the Fourteenth Amendment ?,WP,VBZ,DT,NN,IN,DT,JJ,...,-,-,-,-,-,-,-,-,-,-
998,HUM,ind,Who was the Charlie perfume woman ?,WP,VBD,DT,NNP,NN,NN,.,...,-,-,-,-,-,-,-,-,-,-
999,HUM,ind,Who portrayed `` Rosanne Rosanna-Dana '' on the television show `` Saturday Night Live '' ?,WP,VBD,``,NNP,NNP,``,IN,...,-,-,-,-,-,-,-,-,-,-

In [11]:
features = []
for i in range(len(questions)):
    postagged[i]
    
    question_features = np.array(())
    question_count = []
    token_count = []
    tokens = []
    postags = []
    
    for j in range(len(postagged[i])):
        question_count.append(i)
        token_count.append(j)
        tokens.append(postagged[i][j][0])
        postags.append(postagged[i][j][1])
    
    a = np.array(question_count)
    b = np.array(token_count)
    c = np.array(tokens)
    d = np.array(postags)
    
    question_features = np.column_stack((a,b,c,d))
    features.append(question_features)

features = np.array(features)

NameError: name 'questions' is not defined

In [14]:
data.columns

Index([    'Class', 'Sub-Class', 'Questions',           0,           1,
                 2,           3,           4,           5,           6,
                 7,           8,           9,          10,          11,
                12,          13,          14,          15,          16,
                17,          18,          19,          20,          21,
                22,          23,          24,          25,          26,
                27,          28,          29,          30,          31,
                32,          33,          34,          35,          36],
      dtype='object')

In [15]:
targets = data['Class']
features = data.drop(['Class', 'Sub-Class', 'Questions'], axis=1)

In [16]:
features

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,WRB,VBD,VB,VB,IN,CC,RB,VB,NNP,.,...,-,-,-,-,-,-,-,-,-,-
1,WP,VBD,VBD,DT,NN,NNP,NNP,.,-,-,...,-,-,-,-,-,-,-,-,-,-
2,WRB,MD,PRP,VB,DT,NN,IN,NNS,POS,JJ,...,-,-,-,-,-,-,-,-,-,-
3,WP,NN,VBD,DT,NN,IN,DT,JJ,NN,IN,...,-,-,-,-,-,-,-,-,-,-
4,WP,VBZ,DT,JJ,NN,IN,NN,.,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,WRB,VB,PRP,VB,RP,JJ,NNS,IN,DT,NNP,...,-,-,-,-,-,-,-,-,-,-
996,WRB,VBZ,DT,NN,",",NNP,NNP,",",VBN,.,...,-,-,-,-,-,-,-,-,-,-
997,WP,VBZ,DT,NN,IN,DT,JJ,NN,IN,VBG,...,-,-,-,-,-,-,-,-,-,-
998,WP,VBD,DT,NNP,NN,NN,.,-,-,-,...,-,-,-,-,-,-,-,-,-,-
999,WP,VBD,``,NNP,NNP,``,IN,DT,NN,NN,...,-,-,-,-,-,-,-,-,-,-

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(ngram_range=(1,1), stop_words='english')
dtm = vect.fit_transform(data.questions)

dtm

AttributeError: 'DataFrame' object has no attribute 'questions'

In [17]:
x_train, x_test, y_train, y_test = train_test_split(features, targets, test_size=0.2, random_state=420)

In [18]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)

#Validating Model
acc_logreg = round(accuracy_score(y_pred, y_test) * 100, 2)
pre_logreg = round(precision_score(y_pred, y_test, average='macro') * 100, 2)
rec_logreg = round(recall_score(y_pred, y_test, average='macro') * 100, 2)

print(f"Model Performance: \nAccuracy = {acc_logreg} \nPrecision = {pre_logreg} \nRecall = {rec_logreg}")

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: '-'